*
{
	border:0;
	margin:0;
	padding:0;
}

article,figcaption,figure,footer,header,hgroup,nav,section{
	display: block;
}


@font-face {
    font-family: 'pecitamedium';
    src: url('pecita-webfont.woff2') format('woff2');
         url('pecita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
	background: #65c18d;
	color: #FFF;
	font-family: pecitamedium,Helvetica;
	font-size: 1em;
}

a{
	color: #57ABB8;
	font-weight:bold;
	text-decoration: none;
	
}

a:hover {
	
	color: #F60;
}

audio, iframe, img, video {
	max-width: 	100%;
}

fieldset {
	border: .1em solid #f60;
	border-radius: .5em;
	padding: 1em;
}

figcaption {
	font-size: 0.85em;
	padding: 0.25em;
	text-align: center;
}

form {
	width: 100%;
}
form div {
	margin: .5em;
}


h2, h3{
	
color: rgba(244, 184, 80, 0.99);
font-family: "Pecita", Helvetica, Verdana;	
}

h3{
	background: #E2E7F1`;
	border-radius: 1em;
	box-shadow: .25em .25em .25em rgba(255,153,0,.5);
	margin-bottom: .5em;
	padding-left: .5em;
	
	}

hr{
	border: 1px dashed #ffffe6;
	margin: 1em 0;
	
}

iframe {
	border-radius: .5em;
}

input[ type="email" ], input[ type="text" ], textarea {
	background: #C6ECF9;
	border-radius: .25em;
	color: #000;
	font-size: 1em;
	padding: .25em;
	width: 95%;
}


input[type="email"]:focus, input[type="text"]:focus, textarea:focus {
	background: #5DABDF;
}


input[type="submit"] {
	background: #F90;
	border-radius: 0 .25em;
	color: #500;
	font-family: "Chalet";
	font-size: 1.25em;
	padding: .25em;
}


input[type="submit"]:hover {
	background: #7BBFD5;
	border-radius: .25em 0;
	color: #000;
	cursor: pointer;
	
}


label {
	cursor: pointer;
}


legend {
	color: #F90;
	Font-size: 1.2em;
	Font-WEIGHT: bold;
}

ol {
	padding: 0 2em;
}

ol li{
	padding: 1em 0;
}

textarea {
	
	resize: none;
}


header, section#contenido, section#parrafo, footer {
	background: #fff url(../Imagenes/FondoRecuadro.png);
	margin: 0 auto;
	max-width: 95%;
	text-align: center;
}

header h1, nav  {
	display: inline-block;
	max-width: 100;
	vertical-align: middle;
	
}

nav ul{
	list-style: none;
	
}

nav li {
	display: inline-block;
	padding: 0.1em;
	vertical-align: top;
	
}


media (max-width: 768px) {
    /* Muestra el botón de hamburguesa en móvil */
    .hamburger-toggle {
        display: block;
    }

    /* Estilo del icono de hamburguesa */
    .hamburger-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 0;
        background-color: white;
        transition: 0.4s;
    }
	.nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #444;
        position: absolute;
        top: 55px; /* Ajusta según la altura de tu navbar */
        left: 0;
    }

/* hasta aqui */

nav a{
	background: #000;
	border: 0.1em solid #57ABB8;
	border-radius: 0.25em;
	color: #F60;
	display: block;
	font-family: pecitamedium;
	font-size: 1.4em;
	padding: 0.2em;
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;

}

nav a:hover{
	background: #212121;
	border: 0.1em dashed #F60;
	border-radius: 0 0.5em 0 0,5em;
	color: #000;
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;
}



section#principal, aside{
	background: #1E638;
	border: 0.5em solid #57ABB8;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0 auto:
	max-width: 100%
	padding: 0.25em;
	vertical-align: top;
	width: 65%;
	
}

article#galeria-inicio {
	border-radius: 0.5em; 
	margin: 0.5em;
	padding: 0.5em;
	text-align; left;
	width: 95%;
}


aside {
	
	width: 30%;
}

aside  img, #img-nosotros img, #video-nosotros, #img-productos{
	
	border-radius: 0.5em;
}

article#descripcion-nosotros, article#poderperfume, article#multimedia-nosotros{
	
	background: #1E6381;
	border-radius: .5em;
	display: inline-block;
	margin: 0 auto:
	max-width: 100%
	min-height: 543px;
	padding: .5em;
	text-align: justify;
	vertical-align: top;
	width: 55%;
}

 article#poderperfume{
	
	background: #7b90e3;
	border-radius: .5em;
	display:flexbox;
	margin: 0 auto;
	max-width: 80%
	min-height: 80%;
	padding: .5em;
	text-align: center;
	vertical-align: top;
	width: 80%;
}

article#multimedia-nosotros{
	text-align: center;
	width: 40%;
}

section#productos-principal, section#productos-tipos{
	
	margin: 0 auto;
	max-width:95%;
}

#img-productos, article#nuestros-productos {
	display: inline-block;
	margin: 1em 0;
	vertical-align: top;
	width: 40%;
	}
	
article#nuestros-productos, article#servicio1, article#servicio2, article#servicio3{
	color: #fff;
	background: #1E6381;
	border-radius: .5em;
	max-width: 100%
	min-height: 300px;
	padding: .5em;
	text-align: justify;
	width: 55%;
}

article#servicio1, article#servicio2, article#servicio3{
	background: #011E30;
	display: inline-block;
	width: 31%;
	vertical-align: top;
}

article#servicio1 div, article#servicio2, article#servicio3{
	text-align: center;
}


section#contacto, section#mapa {
	background: #011E30;
	border-radius: .5em;
	display: inline-block;
	margin: 0 auto;
	min-height: 350px;
	padding: .5em;
	text-align: justify;
	vertical-align: top;
	width: 45%;
	
}

article#info-contacto, article#contactanos {
	border: .1em solid #1E6381;
	border-radius: .5em;
	display: inline-block;
	margin: .5em;
	min-height: 144px;
	padding: .5em;
}


span.datos-contacto {
	
	color: #f90;
	margin-left: 1em;
}
section#mapa{
	
	text-align: center;
}
footer{
	color: #000;
	font-size: 0.85em;
	padding: 0.75em 0;
	
}

.fade{
	opacity: 1;
	filter:alpha(opacity=10);
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	
	
}

.fade:hover{
	opacity: 0.7;
	filter:alpha(opacity=7);
	-ms-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

@media screen and (min-width: 1081px){
	header h1{
		text-align: left;
		width: 35%;
	}
	
	nav {
		text-align: right;
		width: 60%;
		
	}
	
}
 

@media screen and (max-width:1080px){
     nav li{
		font-sixe: 1.3em;
		
	 }
	 
	    
	article#galeria-inicio{	
	   	 width: 90%;
		 }
		 
	    aside{
		
		width: 20%;
		}
		article#descripcion-nosotros, article#multimedia-nosotros, #img-productos, article#nuestros-productos{
			width: 45%;
		}
		article#servicio1, article#servicio2, article#servicio3 {
			
			width: 30%;
		}
		form {
			width: 95%;
		}
}



@media screen and (max-width: 800px){
     nav li{
		font-size: 0.95em;
		
	 }
	 
	    article#galeria-inicio{
	   	 width: 88%;
		 }
		 
		#img-productos, article#nuestros-productos, article#servicio1 {
			
			display: block;
			margin: 0 0 .25em 0;
			width: 95%;
		}
		#img-productos{
			
			width: 98%;
		}
		section#contacto, section#mapa {
			display: block;
			width: 95%;
		}
		
		section#contacto {
			margin-bottom: .2em;
		}
		form {
			width: 100%;
		}
		
		
    }
	  

@media screen and (max-width: 600px){
     nav li{
		 display: inline-block;
		 margin: 0px;
		 width: 98%;
	    }
	 
	 section#principal, article#descripcion-nosotros, article#servicio2{
	   	 margin-bottom: 0.2em;
		 }
	 section#principal, aside, article#descripcion-nosotros, article#multimedia-nosotros, article#servicio2,  article#servicio3 {
	   	 display: block;
		 width: 95%;
		 }
		 
		#img-productos{
			 display: none;
		 }
		 
    }
	  
