
body {
    background-color: rgb(84, 201, 247);
}

nav{
    width :100%;
    height: 60px;
    top: 0%;
    background: red;
}

.container{
    margin: 20px;
}
h1{
    color: rgb(0, 140, 255);
}

#imagen1{
    display: flex;
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 50px;                  
    
}

#tituloSemana1{

    color: black;
}
#tituloSemana2{

    color: rgb(255, 0, 89);
}
#tituloSemana3{

    color: blue;
}

.parrafoP {
    color: crimson;
    border-color: blue;
}

footer{
    background-color: azure;
    width: 100%;
    height: 60px;
    margin-bottom: 0%;
    
}
#TvAgro{
    
    margin: 20px;
    padding: 20px;  
    position: static;
}

/*
esto es un comentario
*/