
body {
    background-color: rgb(0, 255, 162);
}

h1{
    color: rgb(0, 140, 255);

}

#tituloSemana1{

    color: black;
}
#tituloSemana2{

    color: red;
}
#tituloSemana3{

    color: blue;
}

.parrafoP {
    color: crimson;
}

/*
esto es un comentario
*/